.project_item {
  border: 1px solid black;
  background-image: url('https://resheto.net/images/mater/pozitivnye_kartinki_2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 300px;

  margin-bottom: 35px;
}
.img {
}
.title {
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;

  text-align: inherit;
}
.description {
  color: black;
  font-weight: 500;
}
.blockButton {
}
