.contacts {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(156deg, #f81f01, #ee076e);
}

.container {
  border: 1px solid;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textBlock {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 300px;
  margin-right: 300px;
}
